h1 {
    font-family: bold;
    font-size: 60px;
}

p {
    font-family: light;
    font-size: 13px;
}

.card-title {
    font-family: bold;
    font-size: 16px;
}

.card-text {
    font-family: light;
}

.tentang-kami {
    font-family: bold;
    color: #047e00;
}

.about-text1 {
    font-family: black;
    font-size: 40px;
}

.about-text2 {
    font-family: semiBold;
}

.about-text3 {
    font-family: light;
}

.about-text4 {
    font-family: black;
    font-size: 30px;
    position: absolute;
}

.container {
    margin-bottom: 150px;
}

.about {
    position: relative;
    top: 50px;
}

.berita {
    position: relative;
    top: 50px;
}

.galeri {
    position: relative;
    top: 50px;
}

.berita-text1 {
    font-family: black;
    font-size: 40px;
}

.berita-text {
    font-family: bold;
    color: #047e00;
}

.galeri-text1 {
    font-family: black;
    font-size: 40px;
}

.galeri-text {
    font-family: bold;
    color: #047e00;
}

.galeri img {
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}

.btn {
    font-family: light;
    border-radius: 0;
    font-size: 15px;
    background-color: #047e00;
}

.gambar-2 {
    position: absolute;
    max-width: 100%;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

.gambar-wrapper {
    position: relative;
}

.cont2-text {
    font-family: bold;
    font-size: 40px;
    margin-bottom: 200px;
}

.card {
    height: 250px;
    width: 250px;
    border-radius: 0;
}

.card-2 {
    height: 20rem;
    width: 20rem;
    border-radius: 0;
}

.card-img-top {
    width: 350px;
    height: 200px;
    object-position: 10% 30%;
}

.carousel-item1 {
    width: 350px;
    height: 200px;
}

.lingkaran {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    background-color: #047e00;
    border-radius: 100%;
}

.tengah {
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-card {
    position: relative;
}
